@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    
    font-family: 'Mulish', sans-serif;
}
.container{
    width: 90%;
    max-width: 1440px;
    min-height: 80px;
    margin: 0 auto;
}
.logo-cotaineer .imp {
    color: #FF5400;
}
.logo-menu .imp{
    color: #FF5400;
}
header{
    margin-top: 50px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-cotaineer{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo-cotaineer *{
    margin-right: 15px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}
.logo-menu{
}
.logo-menu a{
    color: var(--Dark-02, #424247);
    margin-right: 44px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.nav-icon{
    display: none;
}
/* header ends  */

/* banner starts */
.section-heading{
  
}
.banner-btn{
 

}

/* banner ends */
.banner-section{
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url("Images/Group\ 13\ \(1\)\ \(1\).png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.banner-section .section-heading{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 50px;
    
}
.section-title{
    color: #FFF;
    display: inline-block;
    font-size: 64px;
    font-weight: 800;
    margin-top: 106px;
    margin-bottom: 24px;
}
.section-description{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
}
.banner-btn{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}
.btn{
    padding: 16px 20px;
    border: none;
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
}
input[type=text] ,input[type=email]{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
option{
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.primary-btn{
    border-radius: 8px;
    background: #FF5400;
    padding: 16px 20px;
    border: none;
    width: 174px;
    height: 52px;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.search .fa-solid{
    margin-right: 10px;
}

/* banner section ends  */
 /* tours section starts  */
 .tour-section{
 display: flex;
 gap: 20px;
 margin-top: 100px;
 
 }
 .tour-text-container{
    
 }

 ul>li{
    margin-left: 40px;
    line-height: 25px;

 }
 .tour-text-container .tour-title{
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    margin-top: 100px;
    margin-bottom: 30px;

 }
 .tour-text-container .tour-description{
    margin-top: 30px;
 }
.tour-image-container img{
    width: 100%;
    height: 100%;
}
.tour-btn{
    margin-top: 30px;
}

/* choose starts */
.section-heading1{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    margin-top: 50px;
}
.section-title1{
    color: #131318;
    display: inline-block;
    font-size: 64px;
    font-weight: 800;
    margin-top: 106px;
    margin-bottom: 24px;
}
.section-description1{
    color: #131318;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 25px;
}

.row1, .row2, .row3{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
   
}
.item{
    width: 90%;
    text-align: center;
    position: relative;
    
}
.item h1{
    position: absolute;
    font-size: 28px;
    font-weight: 800;
    top: 45%;
    left: 40%;
}
.item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    width: 700px;
    position: relative;
}
.card img{
    position: absolute;
    top: 32px;
    left: 32px;

}
.card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 5px;

}
.card{
    width: 50%;
}
.card h1{
    color: #131318;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    }
.card p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.why-us-card1{
    width: 573px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);


}

.why-us-card2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}
.why-us-card3{
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);

}

/* discount stsrt  */
.discount-section{
    position: relative;
}
.discount-img1{
    position: relative;
    display: flex;
    margin-top: 50px;
}
.discount-img1 img{
    width: 100%;
}
.dis-card{
    position: absolute;
    border: solid;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 30%;
    height: 60%;
    top: 20%;
    left: 60%;
    padding: 30px;
}
.middle-card{
    position: absolute;
    border: solid;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 30%;
    height: 60%;
    top: 20%;
    left: 10%;
    padding: 30px;
}
.dis-title{
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    margin-top: 10px;
}
.dis-card p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px; 
    margin: 20px 0;
}
.des-price{
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
}
.small-icon{
    display: flex;
    border-radius: 16px;
    color: #5A5A5D;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 400;
}
.discount-btn{
  
    position: absolute;
    left: 45%;
    margin-top: 50px;
}
.small-icon .fa-solid{
    font-size: 20px;
    margin-right: 10px;
    color: #FF5400;
}
.small-card h6 p{
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}
.small-card h3 p{
    color: #5A5A5D;

}

/* .get-lost-section :start  */
.get-lost-section{
    display: flex;
    margin-top: 150px;
    margin-bottom: 100px;
    
}
.get-lost-section .text-continer{
    height: 500px;
    padding: 20px;
   
}
.get-lost-section .text-continer h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
}
.get-lost-section .text-continer li{
    color: #131318;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
}
.get-lost-btn{
    margin-top: 30px;
}
.get-lost-section .video-container{
    text-align: center;
    
    
}
.video-container .video{
   
}


.news-section{
    display: flex;
    justify-content: space-between;
    margin-top: 160px;
   
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    width: 40%;
    height: 500px;
    border: 1px solid red;
    border-radius: 5px;
    
}
form input{
    width: 80%;
    padding: 15px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;

}

.form-img-container{
    position: relative;
  
}
.img-div{
    width: 100%;
    height: 100%;
}
.img-div img{
    width: 794px;
    height: 100%;
    border-radius: 16px;
    
}
.form-discount{
    width: 350px;
    height: 120px;
    transform: rotate(-20.628deg);
    flex-shrink: 0;
    border-radius: 16px;
    background: #FF5400;
    position: absolute;
    top: 58%;
    right: 20px;
    text-align: center;

}
.form-discount h1{
    display: inline-block;
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;

}
.form-discount p{
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
}

.footer-logo{
    display: flex;
   justify-content: center;
   margin-top: 80px;
}
.footer-logo h1 {
    margin-top: 100px;
}
.footer-logo img{
    margin-top: 100px;
}
footer{
    margin-top: 100px;
    background: rgba(19, 19, 24, 0.05);
    height: 500px;
}
hr{
    width: 872px;
    height: 1px;
    width: 80%;
    height: 1px;
    margin: 0 auto;
}
.footer-coyright p{
    color: #131318;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}
.footer-icon{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.extra-section{
    background-image: url("Images/travel2.jpg");
    width: 100%;
    margin-top: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    position: relative;
}
.extra-section h1{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: 50px;
    color: white;
}

.icon-div{
    display: flex;
    position: absolute;
    width: 80%;
    bottom:  0;
    left: 10%;
    text-align: center;
    background-color: #FCEABC;
    opacity: 0.7;
    column-gap: 20px;
    padding: 20px;
}
.icon-div div .fa-solid{
    font-size: 40px;
    color: red;
    
}
.icon-div div{
    
    border-radius: 7px;
}