nav .logo-menu a{
    display: none;
}
.nav-icon{
    display: inline;
}
.nav-icon .fa-solid{
    font-size: 26px;

}
.banner-section{
    height: auto;
}
.banner-btn{
    flex-direction: column;
}
.banner-btn{
    padding: none;
}
.banner-btn *{
    margin-bottom: 16px;
}
.banner-section .section-heading h1{
   margin-top: 5px;

}
.tour-section{
    display: flex;
    flex-direction: column;
    
}

.row1, .row2, .row3{ 
        flex-direction: column;
       
}
.item{
        width: 100%;
        height: 300px;
        
 }
.card-body{
        flex-direction: column;
        
 }
.card{
        width: 100%;
        height: auto;
        margin: 0;
}
.choose-title{
        font-size: 50px;
}
.card-title {
        font-size: 50px;
}
.news-section{
       flex-direction: column;
}
form{
        width: 100%;
        margin-bottom: 50px;
}
.form-discount{
        width: 300px;
        height: 120px;
        transform: rotate(-20.628deg);
        top: 50%;
        right: 10px;
        text-align: center;
        width: 350px;
        height: 120px;
        transform: rotate(-20.628deg);
        border-radius: 16px;
    
}
.img-div img{
        width: 100%;
        height: 100%;
        
}
.img-div{
        width: 100%;
     height: 350px;
    }
.icon-div{
        display: flex;
        position: absolute;
        width: 80%;
        bottom:  0;
        left: 10%;
        text-align: center;
        background-color: #FCEABC;
        opacity: 0.7;
        column-gap: 20px;
        padding: 20px;
        flex-direction: column;
      
    
}
.extra-section{
    background-size: 100% 900px;
       object-fit: cover;
      
}
.extra-section h1{
        
        top: 10%;
        
}



.discount-img1{
        position: relative;
        display: flex;
        margin-top: 50px;
        height: 400px;
        
}
.discount-img1 img{
        width: 100%;
        object-fit: cover;
    }

    .dis-card{
       top: 10%;
       left: 10%;
       width: 80%;
       height: 80%;
    }

    .get-lost-section{
        flex-direction: column;
        
    }

    .video-container .video{
        
        width: 100%;
        height: 300px;
        
    
    }
    .get-lost-section .text-continer h1{
        margin: 0;
    }
    .footer-logo h1 {
        display: inline-block;
        margin-top: 150px;
       
    }
    .footer-logo img{
        margin-top: 150px;
    }